.shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
/* -- Material Design Table style -------------- */
tbody tr th {
  padding: 0px!important;
  line-height: 142%;
  vertical-align: middle!important;
  border: 1px solid #ddd;
}
tbody tr th .header-title {
  background: #eee;
}
tbody tr th .header-title.right {
  padding: 8px;
}
tbody tr th .header-title.left {
  padding: 26px 18px 26px 8px;
  font-size: 20px;
}
tbody tr th.header {
  background: #eee;
  padding: 8px!important;
}
tbody tr {
  background: #fff;
  border: 1px solid #ddd;
}
tbody tr td {
  border: 1px solid #ddd;
  vertical-align: middle!important;
  padding: 0!important;
}
tbody tr td a.program-name {
  display: block;
  padding: 20px;
}
tbody tr td .commission {
  padding: 8px;
  text-align: center;
}
tbody tr td .a-status {
  padding: 8px;
  text-align: center;
}
tbody tr td .a-status.accepted {
  color: #4CAF50;
}
tbody tr td .a-status.pending {
  color: #FFC107;
}
tbody tr td .a-status.rejected {
  color: #E91E63;
}
tbody tr td .a-status.notsignedup {
  color: #03A9F4;
}
tbody tr td .a-status.onhold {
  color: #FF5722;
}
tbody tr td .a-status.signedout {
  color: #2196F3;
}
tbody tr.empty td {
  padding: 20px!important;
  font-weight: lighter;
  font-size: 16px;
}
.sticky-table thead,
.sticky-header thead {
  background: #fff;
}
.sticky-table thead tr th,
.sticky-header thead tr th {
  border: 1px solid #ddd;
  font-size: 16px;
}
.sticky-table tbody tr.odd,
.sticky-header tbody tr.odd {
  background: #f1f1f1;
}
.sticky-table tbody tr.even,
.sticky-header tbody tr.even {
  background: #e1e1e1;
}
