// out: affiliate_overview.css
@import "mixin.less";

tbody tr th {
  padding: 0px!important;
  line-height: 142%;
  vertical-align: middle!important;
  border: 1px solid #ddd;
  .header-title {
    background: #eee;
    &.right {
      padding: 8px;
      &.bottom {
      }
      &.min {
      }
    }
    &.left {
      padding: 26px 18px 26px 8px;
      font-size: 20px;
    }
  }
  &.header {
    background: #eee;
    padding: 8px!important;
  }
}
tbody tr {
  background:#fff;border: 1px solid #ddd;
  td {
    border: 1px solid #ddd;
    vertical-align: middle!important;
    padding: 0!important;
    a.program-name {
      display: block;
      padding: 20px;
    }
    .commission {
      padding: 8px;
      text-align: center;
    }
    .a-status {
      padding: 8px;
      text-align: center;
      &.accepted {
        color: #4CAF50;
      }
      &.pending {
        color: #FFC107;
      }
      &.rejected {
        color: #E91E63;
      }
      &.notsignedup {
        color: #03A9F4;
      }
      &.onhold {
        color: #FF5722;
      }
      &.signedout {
        color: #2196F3;
      }
    }
  }
  &.empty {
    td {
      padding: 20px!important;
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
.sticky-table, .sticky-header {
  thead {
    background: #fff;
    tr {
      th {
        border: 1px solid #ddd;
        font-size: 16px;
      }
    }
  }
  tbody {
    tr.odd {
      background: #f1f1f1;
    }
    tr.even {
      background: #e1e1e1;
    }
  }
}
